
//<Переменные=================================================================================================================
$minWidth: 420px;
$maxWidth: 1440;
$maxWidthContainer: 1300;
$md1: $maxWidthContainer +12 + px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
//<Переменные====================================================================================================================






//<Основная адаптивная сетка брэкпоинты

.container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    @media (max-width: $md1) {
        max-width: 970px;
        padding: 0px 10px;
    }
    @media (max-width: $md2) {
        max-width: 750px;
        padding: 0px 10px;
    }
    @media (max-width: $md3) {
        max-width: none;
        padding: 0 10px;
    }
}
//<Основная адаптивная сетка


.wrapper{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loaded{
    }
}





//<Цвета====================================================================================================================

$gradientBackground: linear-gradient(268.86deg, rgba(71, 0, 132, 0.49) 0.11%, rgba(42, 0, 83, 0.49) 99.58%);
//$gradientSlide: linear-gradient(to bottom right, rgb(80, 44, 155, 100%), rgb(255, 0 ,138,44%));
 
//<Цвета=====================================================================================================================================




//<Шрифт по умолчанию====================================================================================
$fontFamily: "e-Ukraine";
//<Шрифт по умолчанию=========================================================================================


